<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>KBSHOP_Web</display-name>
  
 
  <!-- 登入功能的驗證碼設定 -->
  <servlet>  
  <!-- 建立servlet名稱 -->
 	 <servlet-name>LoginCaptchaServlet</servlet-name> 
   <!--啟動哪一隻servlet -->
  	<servlet-class>uuu.vgb.view.CaptchaServlet</servlet-class>
  	
  	<init-param>
  	 	<param-name>length</param-name>
  	 	<param-value>4</param-value>
  	</init-param>
  
  </servlet>
  <servlet-mapping>
  <!--呼叫上方定義的servlet名稱 -->
  	 	 <servlet-name>LoginCaptchaServlet</servlet-name> 
  	<!--呼叫方式 -->	
  		<url-pattern>/images/captcha.png</url-pattern>  		
  </servlet-mapping>
 
  <!-- 註冊功能的驗證碼設定 -->
  <servlet>
  	 <display-name>註冊用驗證碼圖片</display-name>
 	 <servlet-name>RegisterCaptchaServlet</servlet-name>  
  	<servlet-class>uuu.vgb.view.CaptchaServlet</servlet-class>
  	<!-- 設定驗證碼長度變數 -->
  	<init-param>
  	 	<param-name>length</param-name>
  	 	<param-value>6</param-value>
  	</init-param>
  </servlet>  
  <servlet-mapping>
  	 	 <servlet-name>RegisterCaptchaServlet</servlet-name>   		
  		<url-pattern>/images/captcha_register.png</url-pattern>
  </servlet-mapping>


  
  
  
  <welcome-file-list>
     <welcome-file>index.jsp</welcome-file>
     <welcome-file>index.html</welcome-file>
   
   
  </welcome-file-list>
   <!-- 設定TimeOut時間 -->
  <session-config>
  	<session-timeout>30</session-timeout>
  </session-config>
  <error-page>
	  <error-code>404</error-code>
	  <location>/WEB-INF/error/404.jsp</location>
  </error-page>
  <error-page>
	  <error-code>405</error-code>
	  <location>/WEB-INF/error/404.jsp</location>
  </error-page>
  <security-constraint>

        <display-name>user_constraints</display-name>

        <web-resource-collection>

            <web-resource-name>all</web-resource-name>

            <description/>

            <url-pattern>/*</url-pattern>

            <http-method>GET</http-method>

            <http-method>POST</http-method>

        </web-resource-collection>

        <user-data-constraint>

            <transport-guarantee>CONFIDENTIAL</transport-guarantee>

        </user-data-constraint>

 </security-constraint>
</web-app>